body {
  background-color: #22272e;
}

.calc-body {
  width: 347px;
  margin: auto;
  min-height: 393px;
  box-shadow: 0 4px 12px #000;
  background: #3a4655;
  border-radius: 4px;
  margin-top: 10%;
}

/* Calculator Display Screen */
.calc-screen {
  padding: 0.5rem;
}

#calc-operation {
  font-size: 1.3rem;
  height: 30px;
  text-align: right;
  color: #000;
  padding: 5px;
  width: 96%;
  border-radius: 5px;
  background-color: #eff4e6;
}

#calc-operation:focus {
  color: #e0e0e0;
  border-color: red;
}

#calc-typed {
  font-size: 2rem;
  text-align: right;
  color: #fff;
}

/* Calculator Buttons */
.calc-button-row {
  display: table;
  padding: 4px;
  border-radius: 26px;
}

.calc-button-row input {
  display: table-cell;
  width: 25%;
  background: #e0e0e0;
  color: #3c4857;
  height: 65px;
  font-size: 1.3rem;
  border: none;
  border-color: #3c4857;
  border-width: 1px 1px 0 0;
  border-style: solid;
}

.zeroBtn {
  width: 50% !important;
}

.equal {
  border-right: none !important;
}

.calc-button-row input.opt {
  color: #fff;
  background-color: #f5913e;
}

.calc-button-row input:nth-child(4n) {
  border-right: none;
}

.calc-button-row input:active {
  position: relative;
  top: 1px;
}

.calc-button-row input:hover {
  background: #3e4b5c;
  color: #fff;
}
