.calc-body {
  width: 275px;
  margin: auto;
  min-height: 400px;
  box-shadow: 0 2px 2px 3px #00000045;
  background: #3a4655;
  border-radius: 4px;
  margin-top: 10%;
}

/* Calculator Display Screen */
.calc-screen {
  padding: 1rem;
}

#calc-operation {
  font-size: 1.3rem;
  text-align: right;
  color: #727b86;
  padding-bottom: 0.5rem;
}

#calc-typed {
  font-size: 2rem;
  text-align: right;
  color: #fff;
}

/* Calculator Buttons */
.calc-button-row {
  display: table;
  padding: 4px;
  border-radius: 26px;
}

.calc-button-row button {
  display: table-cell;
  width: 25%;
  background: #e0e0e0;
  color: #3c4857;
  height: 65px;
  font-size: 1.3rem;
  border: none;
  border-color: #3c4857;
  border-width: 1px 1px 0 0;
  border-style: solid;
}

.zeroBtn {
  width: 50% !important;
}

.equal {
  border-right: none !important;
}

.calc-button-row button.opt {
  color: #fff;
  background-color: #f5913e;
}

.calc-button-row button:nth-child(4n) {
  border-right: none;
}

.calc-button-row button:active {
  position: relative;
  top: 1px;
}

.calc-button-row button:hover {
  background: #3e4b5c;
  color: #fff;
}
